* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
form {
    display: flex;
    flex-direction: column;
    gap: .5em;
}
section {
    padding: 1em;
}
form input {
    width: 60%;
    height: 2em;
}
nav {
    background-color: cadetblue;
    padding: 1em;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
}
nav ul li {
    list-style: none;
}
nav ul li a{
    color: black;
    text-decoration: none;
}
footer {
    text-align: center;
}