* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin: 1em;
    align-items: center;
}
label {
    display: flex;
    flex-direction: column;
}
label input {
    height: 1.5em;
}
button {
    padding: .5em;
}